<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Pedido</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
    <h1> Pedido </h1>
    {% bootstrap_messages %}
    <form method="post" action="{% url 'pedido' %}" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Criar Pedido
            </button>
        {% endbuttons %}
    </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>